button[type='submit'] {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid #eee;
  transition: 0.2s;
  background-color: $color;
}

button[type='submit']:hover {
  background-color: $color;
}

button[type='submit']:disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
