.nav {
  background-color: $color;
  padding: 20px 0;
  margin-bottom: 20px;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    text-decoration: none;
    color: #000;
  }
}
